Package: com.ryannair05.little11
Name: Little11
Depends: mobilesubstrate, preferenceloader, firmware (>= 11.0)
Version: 1.5.0
Architecture: iphoneos-arm
Description: iPhone 11 gestures and more for iOS 13
Maintainer: Ryan Nair
Author: Ryan Nair
Section: Tweaks
Replaces: com.binksalex.fluidify, com.hius.halfipad, com.VitaTaf.HomeGesture, com.ioscreatix.littlex
Provides: com.ryannair05.poseidon, com.hius.halfipad, com.VitaTaf.HomeGesture, com.ioscreatix.littlex, com.duraidabdul.neptune
Conflicts: com.binksalex.fluidify, com.hius.halfipad, com.VitaTaf.HomeGesture, com.ioscreatix.littlex