<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable/Disable</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>id</key>
			<string>enabled</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Global Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>statusBarStyle</string>
			<key>id</key>
			<string>statusBarStyle</string>
			<key>label</key>
			<string>Status Bar</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Default Status Bar</string>
				<string>iPad Status Bar</string>
				<string>iPhone X Status Bar</string>
				<string>iPhone X Status Bar Without Spacing</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>homeBarSB</string>
			<key>id</key>
			<string>homeBarSB</string>
			<key>label</key>
			<string>Home Bar in Applications</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>homeBarLS</string>
			<key>id</key>
			<string>homeBarLS</string>
			<key>label</key>
			<string>Home Bar in Cover Sheet</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>keyboardDock</string>
			<key>id</key>
			<string>keyboardDock</string>
			<key>label</key>
			<string>Larger Keyboard</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>roundedAppSwitcher</string>
			<key>id</key>
			<string>roundedAppSwitcher</string>
			<key>label</key>
			<string>Rounded App Switcher + Dock</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>roundedAppSwitcher</string>
			<key>id</key>
			<string>roundedAppSwitcherNoDock</string>
			<key>label</key>
			<string>Rounded App Switcher</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<true/>
			<key>default</key>
			<real>6</real>
			<key>leftImage</key>
			<string></string>
			<key>max</key>
			<real>30</real>
			<key>min</key>
			<integer>5</integer>
			<key>rightImage</key>
			<string></string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>appswitcherRoundness</string>
			<key>id</key>
			<string>appswitcherRoundness</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>reduceRows</string>
			<key>id</key>
			<string>reduceRows</string>
			<key>label</key>
			<string>Reduce Icon Rows by 1</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>xButtons</string>
			<key>id</key>
			<string>xButtons</string>
			<key>label</key>
			<string>iPhone X Button Combo [BETA]</string>
		</dict>
			<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>bottomInset</string>
			<key>id</key>
			<string>bottomInset</string>
			<key>label</key>
			<string>Bottom Inset</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>roundedCorners</string>
			<key>id</key>
			<string>roundedCorners</string>
			<key>label</key>
			<string>Rounded Screen Corners</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>isSegmented</key>
			<true/>
			<key>default</key>
			<real>6</real>
			<key>leftImage</key>
			<string></string>
			<key>max</key>
			<real>45</real>
			<key>min</key>
			<integer>5</integer>
			<key>rightImage</key>
			<string></string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>screenRoundness</string>
			<key>id</key>
			<string>screenRoundness</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>compatabilityMode</string>
			<key>label</key>
			<string>Compatibility Mode</string>
			<key>id</key>
			<string>compatabilityMode</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>deviceSpoofing</string>
			<key>label</key>
			<string>Device Spoofing</string>
			<key>id</key>
			<string>deviceSpoofing</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Misc Settings</string>
			<key>footerText</key>
			<string>Settings apply system-wide and need a respring to take effect.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>noGesturesForKeyboard</string>
			<key>label</key>
			<string>No Gestures While Using Keyboard</string>
			<key>id</key>
			<string>noGesturesForKeyboard</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>iPadDock</string>
			<key>label</key>
			<string>iPad Dock</string>
			<key>id</key>
			<string>iPadDock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>iPadMultitasking</string>
			<key>id</key>
			<string>iPadMultitasking</string>
			<key>label</key>
			<string>iPad Multitasking [Beta] </string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>ccGrabber</string>
			<key>id</key>
			<string>ccGrabber</string>
			<key>label</key>
			<string>CC Grabber</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>batteryPercent</string>
			<key>id</key>
			<string>batteryPercent</string>
			<key>label</key>
			<string>Battery Percentage in Statusbar</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>HideSBCC</string>
			<key>id</key>
			<string>HideSBCC</string>
			<key>label</key>
			<string>Hide Status Bar in Control Center</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>PIP</string>
			<key>id</key>
			<string>PIP</string>
			<key>label</key>
			<string>Picture In Picture</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>ProudLock</string>
			<key>id</key>
			<string>ProudLock</string>
			<key>label</key>
			<string>FaceID Animations</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>lsShortcutsEnabled</string>
			<key>id</key>
			<string>lsShortcutsEnabled</string>
			<key>label</key>
			<string>LockScreen Shortcuts</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.ryannair05.little11prefs</string>
			<key>key</key>
			<string>11Camera</string>
			<key>id</key>
			<string>11Camera</string>
			<key>label</key>
			<string>iPhone 11 Camera UI [BETA]</string>
			<key>PostNotification</key>
			<string>com.ryannair05.little11prefs/prefsupdated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Developed By </string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>L11TwitterCell</string>
			<key>label</key>
			<string>Ryan Nair</string>
			<key>accountName</key>
			<string>ryannair05</string>
		</dict>
	</array>
	<key>title</key>
	<string>Little11</string>
</dict>
</plist>
